body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
}

h1, h2 {
  font-weight: 600;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}
